/* line 5, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../../../components/sass/sony/_var_layout.scss */
* {
  box-sizing: border-box;
}

/* line 3, ../../../../components/sass/sony/_util_layout.scss */
.center_absolute, .media-set-60-40.set-a .frame-60 #media-item-1 span.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 11, ../../../../components/sass/sony/_util_layout.scss */
.social-headline {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

/* line 24, ../../../../components/sass/sony/_util_layout.scss */
.last_ {
  float: right !important;
  margin-right: 0 !important;
}

@media screen and (max-width: 449px) {
  /* line 10, ../../../../components/sass/sony/_panel_a_layout_min.scss */
  .media-set-60-40.set-a .media-tile {
    height: 0;
    padding-bottom: 96%;
    margin: 2%;
  }
  /* line 16, ../../../../components/sass/sony/_panel_a_layout_min.scss */
  .media-set-60-40.set-a .birch-twitter {
    height: 0;
    padding-bottom: 33%;
  }
}
/* line 23, ../../../../components/sass/sony/_panel_a_layout_min.scss */
.media-set-60-40.set-a .media-tile {
  overflow: hidden;
}

@media screen and (min-width: 450px) {
  /* line 3, ../../../../components/sass/sony/_panel_a_layout_min_450px.scss */
  .media-set-60-40.set-a {
    padding: 0.68627%;
  }
  /* line 8, ../../../../components/sass/sony/_panel_a_layout_min_450px.scss */
  .media-set-60-40.set-a .media-tile.birch-twitter {
    height: 0;
    padding-bottom: 48.62745%;
  }
  /* line 13, ../../../../components/sass/sony/_panel_a_layout_min_450px.scss */
  .media-set-60-40.set-a .frame-60 {
    margin-bottom: 1.37255%;
  }
  /* line 16, ../../../../components/sass/sony/_panel_a_layout_min_450px.scss */
  .media-set-60-40.set-a .frame-60 #media-item-1 {
    height: 0;
    padding-bottom: 58.62745%;
    margin-bottom: 1.37255%;
    width: 98.62745%;
    float: left;
    margin-left: 0.68627%;
    margin-right: 0.68627%;
  }
  /* line 12, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .media-set-60-40.set-a .frame-60 #media-item-1:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 26, ../../../../components/sass/sony/_panel_a_layout_min_450px.scss */
  .media-set-60-40.set-a .frame-60 #media-item-2 {
    width: 48.62745%;
    float: left;
    margin-left: 0.68627%;
    margin-right: 0.68627%;
    height: 0;
    padding-bottom: 47.2549%;
    margin-bottom: 1.37255%;
  }
  /* line 38, ../../../../components/sass/sony/_panel_a_layout_min_450px.scss */
  .media-set-60-40.set-a .frame-60 #media-item-3 {
    width: 48.62745%;
    float: left;
    margin-left: 0.68627%;
    margin-right: 0.68627%;
    height: 0;
    padding-bottom: 47.2549%;
    margin-bottom: 1.37255%;
  }
  /* line 53, ../../../../components/sass/sony/_panel_a_layout_min_450px.scss */
  .media-set-60-40.set-a .frame-40 #media-item-4 {
    width: 48.62745%;
    float: left;
    margin-left: 0.68627%;
    margin-right: 0.68627%;
    height: 0;
    padding-bottom: 47.2549%;
  }
  /* line 59, ../../../../components/sass/sony/_panel_a_layout_min_450px.scss */
  .media-set-60-40.set-a .frame-40 #media-item-5 {
    width: 48.62745%;
    float: left;
    margin-left: 0.68627%;
    margin-right: 0.68627%;
    height: 0;
    padding-bottom: 47.2549%;
  }
  /* line 68, ../../../../components/sass/sony/_panel_a_layout_min_450px.scss */
  .media-set-60-40.set-a .frame-40 #media-item-6 {
    margin-top: 1.37255%;
    width: 98.62745%;
    float: left;
    margin-left: 0.68627%;
    margin-right: 0.68627%;
    height: 0;
    padding-bottom: 96.56863%;
    clear: both;
  }
}
@media screen and (min-width: 643px) {
  /* line 16, ../../../../components/sass/sony/_panel_a_layout_min_643px.scss */
  .media-set-60-40.set-a .frame-60 #media-item-2 {
    height: 0;
    padding-bottom: 32.22222%;
    width: 65.55556%;
    float: left;
    margin-left: 0.55556%;
    margin-right: 0.55556%;
  }
  /* line 26, ../../../../components/sass/sony/_panel_a_layout_min_643px.scss */
  .media-set-60-40.set-a .frame-60 #media-item-3 {
    height: 0;
    padding-bottom: 32.22222%;
    width: 32.22222%;
    float: left;
    margin-left: 0.55556%;
    margin-right: 0.55556%;
  }
  /* line 43, ../../../../components/sass/sony/_panel_a_layout_min_643px.scss */
  .media-set-60-40.set-a .frame-40 #media-item-4 {
    width: 32.22222%;
    float: left;
    margin-left: 0.55556%;
    margin-right: 0.55556%;
    height: 0;
    padding-bottom: 32.22222%;
    margin-bottom: 1.11111%;
  }
  /* line 50, ../../../../components/sass/sony/_panel_a_layout_min_643px.scss */
  .media-set-60-40.set-a .frame-40 #media-item-5 {
    width: 32.22222%;
    float: left;
    margin-left: 0.55556%;
    margin-right: 0.55556%;
    height: 0;
    padding-bottom: 32.22222%;
    clear: left;
  }
  /* line 59, ../../../../components/sass/sony/_panel_a_layout_min_643px.scss */
  .media-set-60-40.set-a .frame-40 #media-item-6 {
    width: 65.55556%;
    float: left;
    margin-left: 0.55556%;
    margin-right: 0.55556%;
    height: 0;
    padding-bottom: 65.55556%;
    float: right;
    clear: none;
    margin-top: -33.33333%;
  }
}
@media screen and (min-width: 1000px) {
  /* line 5, ../../../../components/sass/sony/_panel_a_layout_min_width_1000px.scss */
  .media-set-60-40.set-a {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .media-set-60-40.set-a:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 65, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
  head {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    color: #333;
    background: rgba(255, 255, 255, 0.25);
  }
  /* line 66, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
  head:before {
    content: "|||";
    display: block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  /* line 67, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
  head:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red;
  }
  /* line 71, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
  head:hover ~ .media-set-60-40.set-a, head:hover ~ body .media-set-60-40.set-a {
    position: relative;
  }
  /* line 74, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
  head:hover ~ .media-set-60-40.set-a:before, head:hover ~ body .media-set-60-40.set-a:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    z-index: 998;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxNi42NjY2NyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxNi42NjY2NyUiIHN0b3AtY29sb3I9IiM2ODY4OTAiIHN0b3Atb3BhY2l0eT0iMC42Ii8+PHN0b3Agb2Zmc2V0PSI4My4zMzMzMyUiIHN0b3AtY29sb3I9IiM5MzkzYjEiIHN0b3Atb3BhY2l0eT0iMC42Ii8+PHN0b3Agb2Zmc2V0PSI4My4zMzMzMyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(16.66667%, rgba(0, 0, 0, 0)), color-stop(16.66667%, rgba(104, 104, 144, 0.6)), color-stop(83.33333%, rgba(147, 147, 177, 0.6)), color-stop(83.33333%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 16.66667%, rgba(104, 104, 144, 0.6) 16.66667%, rgba(147, 147, 177, 0.6) 83.33333%, rgba(0, 0, 0, 0) 83.33333%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 16.66667%, rgba(104, 104, 144, 0.6) 16.66667%, rgba(147, 147, 177, 0.6) 83.33333%, rgba(0, 0, 0, 0) 83.33333%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 16.66667%, rgba(104, 104, 144, 0.6) 16.66667%, rgba(147, 147, 177, 0.6) 83.33333%, rgba(0, 0, 0, 0) 83.33333%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 3.33333%, 100% 24px;
    background-origin: content-box, border-box;
    background-clip: content-box, border-box;
    background-position: left top;
  }
  /* line 9, ../../../../components/sass/sony/_panel_a_layout_min_width_1000px.scss */
  .media-set-60-40.set-a .frame-60 {
    margin-bottom: 0;
    width: 60%;
    float: left;
  }
  /* line 19, ../../../../components/sass/sony/_panel_a_layout_min_width_1000px.scss */
  .media-set-60-40.set-a .frame-60 #media-item-1 {
    width: 98.48485%;
    float: left;
    margin-left: 0.75758%;
    margin-right: 0.75758%;
    height: 0;
    padding-bottom: 65.4%;
    margin-bottom: 1.51515%;
  }
  /* line 24, ../../../../components/sass/sony/_panel_a_layout_min_width_1000px.scss */
  .media-set-60-40.set-a .frame-60 #media-item-2 {
    height: 0;
    padding-bottom: 31.81818%;
    width: 65.15152%;
    float: left;
    margin-left: 0.75758%;
    margin-right: 0.75758%;
    margin-bottom: 0px;
  }
  /* line 30, ../../../../components/sass/sony/_panel_a_layout_min_width_1000px.scss */
  .media-set-60-40.set-a .frame-60 #media-item-3 {
    height: 0;
    padding-bottom: 31.81818%;
    width: 31.81818%;
    float: left;
    margin-left: 0.75758%;
    margin-right: 0.75758%;
    margin-bottom: 0px;
  }
  /* line 39, ../../../../components/sass/sony/_panel_a_layout_min_width_1000px.scss */
  .media-set-60-40.set-a .frame-40 {
    width: 40%;
    float: left;
  }
  /* line 45, ../../../../components/sass/sony/_panel_a_layout_min_width_1000px.scss */
  .media-set-60-40.set-a .frame-40 #media-item-4, .media-set-60-40.set-a .frame-40 #media-item-5 {
    height: 0;
    padding-bottom: 48.14815%;
    width: 48.14815%;
    float: left;
    margin-left: 0.92593%;
    margin-right: 0.92593%;
    margin-bottom: 0;
  }
  /* line 50, ../../../../components/sass/sony/_panel_a_layout_min_width_1000px.scss */
  .media-set-60-40.set-a .frame-40 #media-item-5 {
    clear: none;
  }
  /* line 53, ../../../../components/sass/sony/_panel_a_layout_min_width_1000px.scss */
  .media-set-60-40.set-a .frame-40 #media-item-6 {
    width: 98.14815%;
    float: left;
    margin-left: 0.92593%;
    margin-right: 0.92593%;
    height: 0;
    padding-bottom: 98.14815%;
    margin-top: 1.85185%;
    clear: both;
  }
}
/* line 4, ../../../../components/sass/sony/_panel_a_content.scss */
.image_responsive, .media-set-60-40.set-a .frame-60 #media-item-1 img, .media-set-60-40.set-a .frame-60 #media-item-2 img, .media-set-60-40.set-a .frame-60 #media-item-3 img, .media-set-60-40.set-a .frame-40 #media-item-5 img, .media-set-60-40.set-a .frame-40 #media-item-6 img {
  width: 100%;
  height: auto;
}

/* line 10, ../../../../components/sass/sony/_panel_a_content.scss */
.bordered, .media-set-60-40.set-a .frame-60 #media-item-1 img, .media-set-60-40.set-a .frame-60 #media-item-2 img, .media-set-60-40.set-a .frame-60 #media-item-3 img, .media-set-60-40.set-a .frame-40 #media-item-5 img, .media-set-60-40.set-a .frame-40 #media-item-6 img {
  border-radius: 4px;
}

/* line 14, ../../../../components/sass/sony/_panel_a_content.scss */
.media-tile.birch-twitter {
  background-color: #1bb3df;
  background-image: url(../img/twitter-white.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 8%;
}

/* line 25, ../../../../components/sass/sony/_panel_a_content.scss */
.birch-tweet {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  width: 100%;
}

/* line 35, ../../../../components/sass/sony/_panel_a_content.scss */
.birch-tweeted {
  position: absolute;
  bottom: 8%;
  text-align: center;
  color: white;
  width: 100%;
}

/* line 44, ../../../../components/sass/sony/_panel_a_content.scss */
.birch-video {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

/* line 61, ../../../../components/sass/sony/_panel_a_content.scss */
.media-set-60-40.set-a .frame-60 #media-item-1 {
  overflow: hidden;
  background-image: url("../img/fox-in-tall-grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 64, ../../../../components/sass/sony/_panel_a_content.scss */
.media-set-60-40.set-a .frame-60 #media-item-1 span.play {
  background-image: url("../img/play_button.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block !important;
  width: 32.22222%;
  padding-bottom: 32.22222%;
  height: 0;
}
/* line 73, ../../../../components/sass/sony/_panel_a_content.scss */
.media-set-60-40.set-a .frame-60 #media-item-2 {
  overflow: hidden;
}

/*dev-a style.scss*/
